@use "color";

.friend_list {
    min-width: 250px;
    max-width: 400px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &:hover {
        &::-webkit-scrollbar {
            display: block;
        }
    }

    .friend_item {
        margin: 25px;
        padding: 20px;
        border-radius: 10px;

        &:hover {
            background-color: rgb(225, 225, 225);
        }
    }
}
