@use "color";

.friend_list {
    min-width: 250px;
    max-width: 400px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &:hover {
        &::-webkit-scrollbar {
            display: block;
        }
    }

    .friend_item {
        margin: 25px 25px 25px 0px;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;

        &:hover {
            background-color: rgb(225, 225, 225);
        }

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }
}
