@use "color";
@use "modules";

.header {
    padding: 10px 50px;
    background-color: color.$secondary-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0;

    h1 {
        a {
            color: color.$primary-color;
            text-decoration: none;
        }
    }

    input {
        border: none;
        background-color: color.$primary-background;
        padding: 10px 20px;
        border-radius: 25px;
        width: 50%;
        font-family: inherit;
    }

    .pfp {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .portrait_menu {
        cursor: pointer;

        &:hover {
            filter: hue-rotate(180deg);
        }
    }

    @include modules.mobile {
        padding: 10px 25px;

        input {
            display: none;
        }
    }
}

.parent_dropdown {
    position: absolute;
    top: 74px;
    right: 50px;
    max-height: 0;
    transition: max-height 0.25s ease-in-out;
    overflow: hidden;

    &.dropdown_active {
        max-height: 400px;
    }

    @include modules.mobile {
        right: auto;
    }
}

.dropdown {
    width: 400px;
    padding: 20px;
    border: 1px solid color.$button-hover;
    border-radius: 0 0 10px 10px;
    background-color: white;

    .nav_name {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: bold;
        font-size: 2rem;

        .pfp {
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
    }

    .nav_item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 1000;
        color: rgb(100, 100, 100);
        gap: 10px;

        &:hover {
            background-color: color.$button-hover;
        }
    }

    @include modules.mobile {
        width: 100vw;
        border-radius: 0;
        border-left: 0;
        border-right: 0;

        .nav_name {
            font-size: 1.5rem;
            justify-content: center;

            .pfp {
                height: 50px;
                width: 50px;
            }
        }
    }
}
