@use "color";

.header {
    padding: 10px 50px;
    background-color: color.$secondary-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;

    h1 {
        a {
            color: color.$primary-color;
            text-decoration: none;
        }
    }

    input {
        border: none;
        background-color: color.$primary-background;
        padding: 10px 20px;
        border-radius: 25px;
        width: 50%;
        font-family: inherit;
    }

    .pfp {
        height: 50px;
        width: 50px;
    }

    .dropdown {
        position: absolute;
        top: 70px;
        width: 400px;
        border: 1px solid rgb(225, 225, 225);
        border-radius: 10px;
        background-color: white;
        transform: translateX(-80%);
        padding: 10px;
        overflow: hidden;

        .nav_name {
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: bold;
            font-size: 2rem;

            .pfp {
                height: 100px;
                width: 100px;
            }
        }

        .nav_item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 10px;

            &:hover {
                background-color: rgb(225, 225, 225);
            }
        }
    }
}
