@use "color";

.post_container {
    padding: 25px;
    min-width: 250px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &::-webkit-scrollbar {
        display: none;
        width: 10px;
    }

    &:hover {
        &::-webkit-scrollbar {
            display: block;
        }
    }
}

.create_post {
    background-color: color.$secondary-background;
    border-radius: 10px;
    padding: 20px;

    .post_input {
        display: flex;
        align-items: center;
        gap: 20px;

        input {
            width: 100%;
            background-color: color.$primary-background;
            border: none;
            padding: 10px 20px;
            border-radius: 25px;
            font-family: inherit;
        }

        .pfp {
            height: 50px;
            width: 50px;
        }
    }

    hr {
        margin: 20px 0;
    }

    .post_buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            min-width: 200px;
            padding: 10px 20px;
            border: none;
            background: none;
            cursor: pointer;

            &:hover {
                background-color: rgb(225, 225, 225);
            }
        }
    }
}

.list_post {
    background-color: color.$secondary-background;
    border-radius: 10px;
    padding: 20px;

    hr {
        margin: 20px 0;
    }

    .info {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;

        .name {
            font-weight: bold;
            font-size: 1.25rem;
        }

        .pfp {
            height: 50px;
            width: 50px;
        }
    }

    .photo {
        margin-bottom: 20px;
    }

    .message {
        margin-bottom: 20px;
    }

    .stats {
        display: flex;
        justify-content: space-between;
    }

    .like_comment_buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            min-width: 200px;
            padding: 10px 20px;
            border: none;
            background: none;
            cursor: pointer;

            &:hover {
                background-color: rgb(225, 225, 225);
            }
        }
    }

    .post_comment {
        display: flex;
        align-items: center;
        gap: 20px;

        input {
            width: 100%;
            background-color: color.$primary-background;
            border: none;
            padding: 10px 20px;
            border-radius: 25px;
            font-family: inherit;
        }

        .pfp {
            height: 50px;
            width: 50px;
        }
    }

    .comment {
        margin-bottom: 20px;
        display: flex;
        gap: 10px;

        .comment_right {
            flex: 1;
            background-color: color.$primary-background;
            border-radius: 10px;
            padding: 10px;
            align-self: flex-start;
        }

        .name {
            font-weight: bold;
        }

        .date {
            font-size: 0.75rem;
        }

        .pfp {
            height: 50px;
            width: 50px;
            margin: 10px;
        }
    }
}
