@use "color";

.nav {
    min-width: 250px;
    max-width: 400px;
    overflow-y: auto;
    background-color: color.$secondary-background;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);

    &::-webkit-scrollbar {
        display: none;
    }

    &:hover {
        &::-webkit-scrollbar {
            display: block;
        }
    }

    .nav_item {
        margin: 25px;

        a {
            display: block;
            text-decoration: none;
            color: black;
            padding: 20px;
            border-radius: 10px;

            &:hover {
                background-color: rgb(225, 225, 225);
            }
        }
    }
}
